@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  color: #30312a;
  background-color: #eeeeed;
}

html.dark body {
  color: #eeeeed;
  background-color: #30312a;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
